@use '../../styles' as *;


.card-inactive {
    position: relative;

    .inactive-text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($black, .8);
        color: $white-100;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .3s ease-in-out;

        
        &:hover,
        &:focus {
            opacity: 1;

            p {
                &::before {
                    width: 100%;
                }
            }
       
        } 

        p { 
            position: relative;

            &::before {
                @include hoverEffect;
                width: 0%;
                transition: width 1s ease-in-out;
                }

                @keyframes hoverAnim {
                    to {
                        width: 100%;
                    }
              
            }      
   
        }

  
        // p {
        //     font-size: 5vw;
        //     // border-bottom: 2px solid $white-opacity;
        //     // border: 1px solid pink     
        //     }
    
    
            }

        } 

.card {

    &:hover,
    &:focus {
        transform: scale(1.05);
        transition: transform .3s ease-in-out;
        cursor: pointer;

    }

    .card__container {
        padding: 1rem;
        // margin: 2.5rem 1rem 0;
        // gap: 1rem;
        // border-radius: 10px;
        // background: rgba($light-pink , .5);
        border: 1px solid $white-100;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 15rem;
        box-shadow: 1rem 1rem 0 rgba($white-100, .3);

        &:hover,
        &:focus {
            box-shadow: 1rem 1rem 0 rgba($black, .3);
            border: 1px solid $navy;
        }

    }

    &__image {

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: rgba($white-100, .2);
        margin-top: .5rem;
        padding: 1rem;
        border-radius: 10px;

        .card-title {
            display: grid;
            grid-template-columns:  6fr 1fr;  
            align-items: center;

        }

        .card-description {
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            //displaying 3 lines and then ...
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
      
        }

    }


}


.projects {
    max-width: 1600px;
    margin: 0 auto;


    &__container {
        padding: 1rem;

        .space-bottom {
            margin-bottom: 2rem;
        } 
    }

    &__content {
        display: grid;
        gap: 2.5rem 0;
      
    }

}


@media (min-width: $breakpoint-medium) {

    .card-inactive {
        .inactive-text {
            p {
                font-size: 2vw;
          
            }
        }
    }

    .card {


        .card__container {
            padding: 1rem;
            margin: 1.5rem 1rem 0;

            .card-description {
                -webkit-line-clamp: 3;
            }
        }
    }

    .projects {

        &__content {
            grid-template-columns: repeat(3, 1fr);
            // gap: 1rem;
        }

    }

}

@media (min-width: $breakpoint-large) {
    .projects {
        &__content {
            gap: 2rem;


        }
    }
}

// border animation 

// .box {
//     position: relative;
//     width: min-content;
//     height: min-content;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 2;
//     overflow: hidden;
//     border-radius: 10px;
//     // background-color: rgba(0,0,0, 0.5)

//     h2 {
//         text-shadow: 3px 2px  $pink;
//         z-index: 2;
//     }

//     &::before {
//         position: absolute;
//         content: '';
//         width: 5rem;
//         height: 200%;
//         background: $white-opacity;
//         // linear-gradient(#00ccff, #d500f9)
//         animation: rotate 4s linear infinite;

//         @keyframes rotate {
//             from {
//                 tranform: rotate(0deg)
//             }
//             to {
//                 transform: rotate(360deg);
//             }

//         }

//     }

//     &::after {
//         content: '';
//         position: absolute;
//         background-color: $black;
//         inset: 5px;
//     }
// }