@use '../../styles/' as *;


.toggleSwitch {


    input[type="checkbox"] {
      position: relative;
      appearance: none;
      width: 3rem;
      height: 1.5rem;
      background: rgba($purple-60, .4);
      border-radius: 2rem;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.5s;
    }

    input:checked[type="checkbox"] {
      background: rgba($orange-90, .4);
  }

  input[type='checkbox']::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 0.4s;

  }

  input:checked[type="checkbox"]::after {
    left: 50%;
}
  }
