@use './theme.scss' as *;
@use './variables.scss' as *;

@mixin base-container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

@mixin bgText {
  display: block;
  font-size: clamp(1rem, 10vw + 1rem, 10rem);
  line-height: 1em;
  text-wrap: nowrap;
  opacity: .3;

}


@mixin title {
  font-size: 3rem;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  display: inline-block;
  z-index: 4;

  &::after {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 20px;
    bottom: 5px;
    z-index: -1;

  }
}

@mixin icons {
  display: flex;
  font-size: 2rem;
  gap: .5rem;

  a {
    color: $light-grey;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $grey;
    }
  }
}

@mixin hoverEffect {
  content: '';
  background: rgba($purple-pink, .6);
  position: absolute;
  left: 0;
  bottom: -.3rem;
  height: 3px;
}


@mixin lhCrop($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

@mixin logo($font-size) {
  @include lhCrop(1.3);

  margin-top: 0;
  font-size: $font-size;
  padding: 0.5rem;
  font-family: $font-family-cherry;
  font-weight: bold;
  line-height: 100%;
}


@mixin toggleSwitch($color1, $color2) {
  input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 3rem;
    height: 1.5rem;
    background: $color1;
    border-radius: 2rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
  }

  input:checked[type="checkbox"] {
    background: $color2;
  }

  input[type='checkbox']::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 0.4s;

  }

  input:checked[type="checkbox"]::after {
    left: 50%;
  }

}