@use './variables' as *;

// Colors
$orange-100: #FF6720;
$orange-90: #FF7636;
$orange-80: #FF854D;
$orange-70: #FFA479;
$orange-60: #FFC2A6;
$orange-50: #FFE1D2;
$orange-40: #FFF0E9;
$orange-30: #FFF7F4;



$purple-90: #1b1239;
$purple-80: #291b71;
$purple-70: #3223ae;
$purple-60: #5323e1;
$purple-50: #8060f6;
$purple-40: #b093fb;
$purple-30: #d9c8fe;
$purple-20: #e2d7f9;
;

/** SCSS greyWhite COLORS */
$white-100: #ffffff;
$white-90: #ebded8;
$white-80: #f0e6e2;
$white-70: #f5eeeb;
$white-60: #faf7f5;

// 使ってる色
$white-opacity: rgba(255, 255, 255, .6);
$white-orange: #f7eeec;
$grey: #282727;
$light-grey: #4c4848;
$black: #181717;
$navy: #1b133f;
$light-purple: #685d97;
$neonblue: #03EADD;
$cyan: #50D8D7;
$pink: #CB3CD0;
$dark-pink: #DB1DDD;
// $dark-pink: ;
$orange: #F28B08;
$lime-yellow: #e1eea6;
$light-pink: #e9b5bb;

// rgba(27, 19, 63,.4)

//nav links
$purple: #4e034e;

//moon icon
$yellow: #f4f411;




.light {
    .color-primary {
        color: $white-100;
    }

    .color-secondary {
        color: $orange-30;
    }

    //change the color later
    .color-decoration {
        color: $orange-30;
    }

    .gradient-bg {
        /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=cb3cd0&c2=f28b08&gt=r&gd=dtl
*/
        background: $pink;
        background: radial-gradient(at left top, $pink, $orange);
    }

    .shape-fill {
        fill: $white-100;
    }

    .bg-color {
        background-color: $white-100;
    }

    .picBg-color {
        background-color: $orange-50;
    }

    // PhraseItem component 
    .font-stroke {
        -webkit-text-stroke: 2px $grey;

    }

    //mainItem component
    .name-color {
        color: $lime-yellow;

    }

    //SkillScrollSlider component
    .skill-bgColor {
        background-color: $white-orange;
    }

    //Contact component 
    .contactForm {
        color: $grey;

        .contact-title {
            &::after {
                background: linear-gradient(to bottom, #0000 60%, $orange-80 40% );
    
            }

        }

        input, textarea {
            background-color: rgba($white-100, .4);
           
        }
    }

    // About component 
    .title {
        color: $grey;
            &::after {
                background: linear-gradient(to bottom, #0000 60%,  $orange-80 40% );
            }
        }
        
}

// DARK THEME----------------------------------------------

.dark {
    .color-primary {
        color: $white-100;
    }

    .color-secondary {
        color: $white-60;
    }

    .color-decoration {
        color: $purple-60;
    }

    .gradient-bg {
        /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=db1ddd&c2=50d8d7&gt=l&gd=dbl
*/
        background: $dark-pink;
        background: linear-gradient(45deg, $dark-pink, $cyan);
    }

    .shape-fill {
        fill: $navy;
    }

    .bg-color {
        background-color: $navy;
    }

    .picBg-color {
        background-color: $purple-20;
    }


    // PhraseItem component 
    .font-stroke {
        -webkit-text-stroke: 1px $neonblue;
    }


    //mainItem component
    .name-color {
        color: $neonblue;
    }

    //SkillScrollSlider component
    .skill-bgColor {
        background-color: $light-purple;
    }

    //Contact component 
 
    .contactForm {
        color: $white-100;

        .contact-title {

            &::after {
                background: linear-gradient(to bottom, #0000 60%,  $purple-40 40% );
    
            }
        }
    
        input, textarea {
            background-color: rgba($white-100, .2);
            color: $white-100;
        }
    }

    .title{
        color: $white-100;
        &::after {
            background: linear-gradient(to bottom, #0000 60%,  $purple-40 40% );

        }
    }


}