// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Lato:wght@300;400;900&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');



//Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Typography 
$font-family: 'Poppins', sans-serif;










