@use './index' as *;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    color: $grey;
}


.title {
    @include title;
}



.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.hidden2 {
    opacity: 0;
    transform: translateX(100%);
}

.hidden3 {
    opacity: 0;
}


.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 2s;
}



.showFadeIn {
    opacity: 1;
    transition: all 3s;
}

@media (prefers-reduced-motion) {
    .hidden, .show {
        transition: none;
    }

    
}



