@use './index' as *;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    color: $grey;
}


.title {
    @include title;
}

.bold {
    font-weight: bold;
}



.hiddenLeft {
    opacity: 0;
    transform: translateX(-100%);
}

.showLeft {
    opacity: 1;
    transform: translateX(0);
    transition: all 2s;
}


.index1 {
    transition-delay: 800ms;
}

.index2 {
    transition-delay: 1200ms;
}

.hiddenScale {
    opacity: 0;
    transform: scale(.4);
}

.showScale {
    opacity: 1;
    transform: scale(1);
    transition: all 2s  ease-in-out;
}

.hiddenFadeIn {
    opacity: 0;
}

.showFadeIn {
    opacity: 1;
    transition: all 1.5s;
}

.showFadeInMobile {
    opacity: 1;
    transition: all 1s;
}

//add more later
@media (prefers-reduced-motion) {
    .hiddenLeft , .showLeft {
        transition: none;
    }

    
}



