@use "../../styles" as *;

.main {
  margin: 3em; 
  padding: 2em;
  border: 1px solid black;

  &__contentWrapper {
    display: flex;
    justify-content: space-around;


  }

  &__content {
    padding: 2em;
    width: 50%;
    align-self: center;
  }



 
}
