@use "../../styles" as *;


.about {
    // background-color: rgba(0,0,0,.2);
    max-width: 1400px;
    margin-inline: auto auto;

    // background-color: $white-opacity;
    border-top-left-radius: 11vw;
    border-bottom-right-radius: 11vw;


    &__container {
        display: grid;

    }

    &__photo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem 1rem 0;
        // border: 1px solid purple;



        .image {
            width: 90%;
            height: 90%;


            img {
                height: 100%;
                width: 100%;
                border-radius: 20vw;
                object-fit: cover;
            }

        }

        .image-nature {

        };

        .image-Joy {
            align-self: flex-start;
        }



    }


    &__content {
        padding: 1rem;

        .title {
            @include highligntTitle;
            z-index: 4;
         


                &::after {
                    @include highlight;
        
                }
            

        }



    }
}



@media (min-width: $breakpoint-medium) {

    .about {
        &__container {
            height: 35rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


        &__photo {
            justify-content: flex-end;
            align-items: flex-end;
            gap: 1rem;
            padding: 1rem 0 1rem 2rem;
            // animation: floating 4s ease-in-out infinite;
            // // border: 1px solid purple;


            .image {
                width: 95%;
                height: 90%;
                // animation: floating2 8s ease-in-out infinite;

                // @keyframes floating2 {
                //     0% {
                //         transform: translate(0, -10px);
                //     }

                //     50% {
                //         transform: translate(0, 13px);
                //     }

                //     100% {
                //         transform: translate(0, 5px);
                //     }

                // }
           
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 20vw;
                    object-fit: cover;
                }

            }

            .joy {
                align-self: flex-start;
                // animation: floating 5s ease-in-out infinite;

                
                // @keyframes floating {
                //     0% {
                //         transform: translate(0, -4px);
                //     }

                //     50% {
                //         transform: translate(0, 21px);
                //     }

                //     100% {
                //         transform: translate(0, -10px);
                //     }

                // }
            }
        }

        &__content {
            padding: 2rem;
        }
    }

}