@use '../../styles/' as *;


.modal-background {
    width: 100vw;
    height: 100svh;
    background-color: rgba($black, .8);
    position: fixed;
    z-index: 15;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.2s ease-in-out; 

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

}

.modal {
 
    &__container {
        position: relative;
        max-width: 1400px;
        margin: 1rem;
        padding: 2rem;
        background-color: $white-100;
        border-radius: 10px;
    
        .modal-close {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 1.5rem;
            color: $grey;
        }

    }

    &__image {


        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }

    }

    &__content {
        margin-top: 1rem;
        

        .modal-body {
            display: grid;
            gap: .5rem;
        }

        .modal-footer {
            display: flex;
            gap: 1rem;

          
        }


    }

}

@media (min-width: $breakpoint-medium) {

    .modal-background {}

    .modal {
        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);


        }

        // &__image {

        //     img {}


        // }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 1rem; 


            padding: 2rem;

            .modal-footer { 
                align-self: end;
            }

        
        }

    }
}