
.myImage {
  margin-top: 2rem;
  position: relative;
  max-width: 25rem;
  margin-inline: auto;

  &__container {
    // background-color: pink;
    aspect-ratio: 1/1.25;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform 250ms ease-in-out; 

    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__circle {
    position: absolute;
    inset: auto 0 0;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 100%;
    margin-inline: auto;
    object-fit: cover;
  }

  &__Makiko {
    position: relative;
    z-index: 2;
   margin-inline: auto;
   transition: transform 250ms ease-in-out;

   &:hover {
    transform: scale(1.05) 
    translateY(-.8rem);

   }

  }

  
  img {
    max-width: 100%;
    display: block;
  }




}
