@use "../../styles" as *;

.container {
    position: relative;
    max-width: 1400px;
    min-height: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 8;

    .contactInfo {
        position: relative;
        top: 30px;
        padding: 1.5rem;
        background: $white-opacity;
        width: calc(100% - 60px);
        z-index: 1;

        li {
            list-style: none;
        }

        .info {}

        .icons {
            display: flex;
            justify-content: end;
            gap: 1rem;
        }
    }

    .contactForm {
        padding: 40px 1rem;
        // background: rgba($navy, .4);
        width: 100%;

        .formBox {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px;

            .inputBox {
                position: relative;
                margin: 0 0 2.5rem 0;

                input {
                    width: 100%;
                    padding: 5px 0;
                }
            }

            .w50 {
                width: 47%;
            }

            .w100 {
                width: 100%;
            }
        }

    }

}

@media (min-width: $breakpoint-medium) {

    .container {
        flex-direction: row;

        .contactInfo {
            position: absolute;
            top: 2.5rem;
            width: 21rem;
            height: calc(100% - 80px);
            background: $white-100;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .contactForm {
            position: absolute;
            padding: 3.5rem 3rem;
            margin-left: 150px;
            padding-left: 250px;
            width: calc(100% - 150px);
            height: 100%;
            box-shadow: 2.5rem 2.5rem 0 rgba(255, 255, 255, .3); 
        }
    }
}