@use "../../styles" as *;

.container {
    // margin: auto auto;
    max-inline-size: 1500px;
    margin-inline: auto;
    display: grid;
    border: 1px solid red;

    .item1, .item2 {
        border: 2px solid orangered;
    }


    .item1 { 
            width: 80%;
            height: 15rem;
            border-radius: 20px;
            margin-inline: auto;
            background-color: white;
            margin-bottom: -2rem;
            z-index: 0;

    }

    .item2 {
        width: 100%;
        height: 20rem;
       border-radius: 1rem;
        background-color: navy;
      
    }

    
}

@media (min-width: $breakpoint-medium) {
    .container {
        grid-template-columns: 1fr 3fr;
        align-items: center;

        .item1 {
            width: 100%;
            height: 28rem;
            margin-right: -1rem;
            margin-bottom: 0;
            justify-self: end;
        }

        .item2 {
            height: 30rem;
            margin-left: -1rem;
        }
        

       
    }
}