@use "../../styles" as *;

.container {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 8;

    .contactInfo {
        position: relative;
        top: 30px;
        padding: 1.5rem;
        background: rgba($white-80, .8);
        width: calc(100% - 60px);
        z-index: 1;

        .chat-image {
            width: 100%;
            aspect-ratio: 1/1;
            margin: auto auto;
            animation: floating 5s ease-in-out infinite;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }


            @keyframes floating {
                0%, 100% {
                    transform: translate(0, 0);
                }
                
                50% {
                    transform: translate(0, 50px);
                }
            } 

        }

        li {
            list-style: none;
        }

        .info {}

        .icons {
            display: flex;
            justify-content: end;
            gap: 1rem;
        }
    }

    .contactForm {
        padding: 40px 1rem;
        width: 100%;
        border: 1px solid $white-90;

        .contact-title {
            @include highligntTitle;

            &::after {
                @include highlight;
            }
        }

        .formBox {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px;
          

            .inputBox {
                position: relative;
                margin: 0 0 2rem;

                input, textarea{
                    width: 100%;
                    padding: .8rem;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    // resize: none;

                    &:hover, &:focus {
                        border: 1px solid $white-60;
                    }
                }

                textarea {
                    min-height: 10rem;
                }
            }

            .w50 {
                width: 47%;
            }

            .w100 {
                width: 100%;
            }

            .test {
                align-self: self-end;
            }

            button {
                padding: 1rem;
                margin-left: auto;
                border-radius: 10px;
                border: 1px solid $white-100;
                font-weight: bold;
                color: inherit;
                background-color: transparent;
                cursor: pointer;
            
               
                &:hover {
                    background: rgba($white-100, .1);
                }
                
            }
        }

    }

}

@media (min-width: $breakpoint-medium) {

    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        justify-content: end;


        .contactInfo {
            position: static;
            width: 100%;
            height: 90%;
            margin-left: 1rem;
   
        }
        
        .contactForm {
            margin-left: -1rem;
            padding: 2rem 1rem 2rem 4rem;
            box-shadow: 1.5rem 1.5rem 0 rgba(255, 255, 255, .3); 
        }
    }
}