@use "../../styles" as *;

.header {
  @include base-container;

  // position: fixed;
  // top:0;
  // left: 0;
  z-index: 100;

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    &__toggle {
      cursor: pointer; 

    }

    .menu-icon {
      color: white;
      font-size: 1rem;
       }

  }
}

@media (min-width: $breakpoint-small) {
  .header {
    display: none;
  }
}
