@use "../../styles" as *;

.nav-container {
  z-index: 2;
  // background-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  transform: translate(30%);
  transition: transform 0.3s ease;

  .nav {
    &__close {
      color: grey;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      list-style: none;
    }

    &__link {
      color: rgb(52, 51, 51);
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      column-gap: 0.3rem;
      transition: 0.3s;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    &__logo {
      img {
        width: 3em;
      }
    }
  }
}

.icon-color {
  color: rgb(239, 239, 6);
  cursor: pointer;
}

@media (min-width: $breakpoint-small) {
  .nav-container {
    min-height: auto;
    padding: 0.3em;
    transform: translate(0);
    position: sticky;

    .nav {
      @include base-container;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .4em 0;
      // min-height: auto;

      &__close {
        display: none;
      }

      &__list {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        list-style: none;

        &__link {
          font-size: 1rem;
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
}
