@use "../../styles" as *;

.nav-container {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 2em;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;

  .nav {
    &__close {
      color: white;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      list-style: none;
    }

    &__link {
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      column-gap: 0.3rem;
      transition: 0.3s;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
}

.theme-icon {
  color: rgb(239, 239, 6);
  cursor: pointer;
}

@media (min-width: $breakpoint-small) {
  .nav-container {
    min-height: auto;
    padding: 0.3em;
    transition: 1s;

    .nav {
      @include base-container;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2em 0;
      min-height: auto;

      &__close {
        display: none;
      }

      &__list {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        list-style: none;

        &__link {
          font-size: 1.1rem;
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
}
