@use '../../styles/' as *;

.skillSection {

    &__container {
        margin: auto;
        padding: 2rem 0;
        text-align: center;
    }

    &__texts {
        margin-bottom: 2rem;
        font-size: clamp(.8rem, 3vw + 1rem, 3rem);
        font-weight: bold;
        text-transform: uppercase;
        color: transparent;

        span:nth-child(1) {
            color: #70d6ff;
        }

        span:nth-child(2) {
            color: #fcf6bd;
        }


        span:nth-child(2) {
            color: #d0f4de;
        }


        span:nth-child(3) {
            color: #e4c1f9;
        }

        span:nth-child(4) {
            color: #ede7b1;
        }

        span:nth-child(5) {
            color: #43bccd;
        }

        .life {
            background: url('../../assets/images/leaves.webp') bottom;
            object-fit: contain;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-stroke: 1px green;

        }

    }

    &__text:nth-child(2) {
        margin-top: 0;

    }

    &__skills {
        width: 100%;
        margin: auto auto;
        border-radius: 2rem;

    }

}


@media (min-width: $breakpoint-small) {
    .skillSection {

        &__container {
            width: 80%;
            max-width: 1600px;
            padding: 0 0 4rem ;

        }

    }
}