@use "../../styles" as *;

.footer__container {
    background-color: $white-opacity;
    margin-top: 4rem;


    .footer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &__logo {
            padding: .8rem;
            text-align: center;
          
            .logo {
                width: 40%;
            }
    
            p {
                text-align: left;
            }
        }
    
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: center;
          
    
            .icons {
                display: flex;
                font-size: 2rem;
                gap: .5em;
               

                a {
                    color: $grey;

                    &:hover,  &:focus {
                        cursor: pointer;
                        color: $blue-60;
                    }
                }
            }
        }
    
    }

    .copyRight {
        margin: 0 2rem;
        padding: 1rem;
        border-top: 1px solid $grey;
        text-align: center;
        
    }
}



// @media (min-width: $breakpoint-small) {
//    .footer {
//     flex-direction: row;

//     &__logo {
        


//         .logo {

//         }
//     }

//     &__content {

//     }



//    }
// }

