@use "../../styles" as *;

@mixin bgText {
display: block;
font-size: clamp(1rem, 10vw + 1rem, 10rem);
line-height: 1em;
text-wrap: nowrap;
opacity: .3;
}


.main {
 
    &__bgText {
        display: none;
    }

    &__contentWrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        // border: 1px solid red;
    }

    &__content {
        width: 100%;
        margin-top: 2rem;
        font-size: 1.6rem;
        text-align: center;   
        // font-style: italic;
        // border: 1px solid blue;
        
        &__nameText {
            position: relative;
            line-height: 2rem;
            font-size: 3.5em;
            font-family: 'Reenie Beanie', cursive;
            font-style: italic;
            animation: neonAnim 2s alternate-reverse infinite;
        }
      
        &__nameText::before {
            content: "";
            right: -15px;
            top: 50%;
            position: absolute;
            height: 3.5rem;
            width: 2px;
            background: $white-80;
            transform: translateY(-45%);
            animation: blink 0.7s infinite;

        }

        &__description {

            // span {
            //     color: $orange-50; 
            //     font-weight: bold;
            //     font-style: normal;
            // }
        }


        &__icons {
            display: flex;
            justify-content: center;
            gap: 1rem;     
        }

        .reactIcons {
            color: rgba(255,255,255,.5);
            font-size: 2rem;

            &:hover, &:focus {
                cursor: pointer;
                // color: $purple-60;
                color: $white-100
            }

        }

        .bold {
            font-weight: bold;
        }

    }

    &__image {
        z-index:2;
        animation: profilePicAnim 2s ease-in;
         // border: 1px solid greenyellow;
        
    }



    @keyframes neonAnim {
        from {
             text-shadow:
                 0 0 28px 55px $white-100,
                 0 0 55px 88px $white-100,
               0 0 128px 155px $white-100;
        }
    
        to {
            text-shadow:
                0 0 40px $white-100,
                0 0 70px $white-100,
                0 0 100px $white-100;
        }
    }


    @keyframes profilePicAnim {
        from {
            opacity: 0;
    
        }
    
        to {
            opacity: 1;
        }
        
    }

    
    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

}

@media (min-width: $breakpoint-small) {
    .main {
        
        &__bgText {
            @include bgText;
        }

    }

}

// 768 px
@media (min-width: $breakpoint-medium) { 
    .main {
        position: relative;
       

        &__bgText {
            @include bgText;
            position: absolute;

        }

        &__contentWrapper {
            flex-direction: row;
            justify-content: center;
            align-items: end;
            margin: 1rem 1rem 0;

        }

        &__content {
            width: 20rem;
            flex: .5 2 auto;
            // border: 1px solid red;

            &__description {
                text-align: center;
            
    
            }

            // &__icons {
            //     justify-content: center;
                
        
            // }
        }

        &__image {
            // min-width: 22rem;
            align-self: flex-end;
            flex-grow: 1;
   
        }

    }

}


@media (min-width: $breakpoint-extra-large) {
    .main {

        &__contentWrapper {
            align-items: center;
            justify-content: end; 
        }
        
        &__content {
            // padding-left: 3rem;
            width: 10%;
            font-size: 2rem;
            flex: 1 1 auto;
            align-self: end; 

            &__description {
                width: 80%;
                margin: auto;
                // border: 1px solid yellow;
            }
            
        }




    }
}