@use "../../styles" as *;

.main {
    &__bgText {
        display: none;
    }

    &__contentWrapper {
        display: flex;
        flex-direction: column;
    }

    &__content {
        font-size: 1.6em;
        text-align: center;   

        
        p span {
            position: relative;
            font-size: 3.5em;
            font-family: 'Reenie Beanie', cursive;
            font-style: italic;
            animation: neonAnim 2s alternate-reverse infinite;
            // color: #e1eea6; // for light mode
            color: #03EADD; //for dark mode
        }

        @keyframes neonAnim {
            from {
                 text-shadow:
                     0 0 28px 55px rgba(255, 255, 255, 1),
                     0 0 55px 88px rgba(255, 255, 255, 1),
                   0 0 128px 155px rgba(255, 255, 255, 1);
            }
        
            to {
                text-shadow:
                    0 0 40px rgba(255, 255, 255, 1),
                    0 0 70px rgba(255, 255, 255, 1),
                    0 0 100px rgba(255, 255, 255, 1);
            }
        }
        
        
        p span::before {
            content: "";
            right: -15px;
            top: 50%;
            position: absolute;
            height: 3.5rem;
            width: 2px;
            background: #03EADD;
            transform: translateY(-45%);
            animation: blink 0.7s infinite;

        }

       

        @keyframes blink {
            50% {
                opacity: 0;
            }
        }

    }

    &__image {
        animation: profilePicAnim 2s ease-in;
        z-index: 1;  
    }

    @keyframes profilePicAnim {
        from {
            opacity: 0;
    
        }
    
        to {
            opacity: 1;
        }
        
    }
}








// .neon {
//     font-size: 3.5em;
//     font-family: 'Reenie Beanie', cursive;
//     font-style: italic;
//     animation: neonAnim 2s alternate-reverse infinite;
//     color: #03EADD;
   
// } 



@media (min-width: $breakpoint-small) {
    .main {
        position: relative;

        &__bgText {
            display: block;
            position: absolute;
            font-size: clamp(1rem, 10vw + 1rem, 10rem);
            line-height: 1em;
            text-wrap: nowrap;
            opacity: .3;

        }

        &__contentWrapper {
            flex-direction: row;
            justify-content: center;

        }

        &__content {
            padding: 2em;
            width: 50%;
            align-self: center;
        }

    }

}

@media (min-width: $breakpoint-extra-large) {
    .main {
        
        &__bgText {
            
        }

    }
}