@use '../../styles' as *;





@media (min-width: $breakpoint-small) {
    .scroller {
        
        width: 100%;
        overflow: hidden;
        -webkit-mask:
            linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);

        border: 1px solid lime;



        &__inner {
            width: max-content;
            padding-block: 1rem;
            display: flex;
            gap: 1rem;
            animation: scroll 24s linear infinite;

            &:hover {
                animation-play-state: paused;
            }

            .skill {  
                // text-align: center;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__icon {
                    // height: 60%;
                    // // width: 2rem;
                    object-fit: cover;
                

                }

                &__name {
                    // height: 40%;
        
                    
                }
                
                &:hover {
                    transform: scale(1.2);
                    transition: transform .8s ease-in-out;
                }
            }

        
            @keyframes scroll {
                to {
                    transform: translate(calc(-50% - 0.5rem));
                }
            }
        }
    
    }


    .tag-list {
        margin: 0;
        padding-inline: 0;
        list-style: none;

        li {
            padding: 1rem;
            background-color: $orange-30;
            border-radius: .5rem;
            box-shadow: 0 0.5rem 1rem -0.25rem ($orange-30);
        }
    }
}