@use '../../styles' as *;

.scroller {
    width: 100%;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;

        .skill {
            width: 5.5rem;
            height: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &__name {
                text-align: center;
                margin: auto 0;
            }
        }
    }
 
}

.font-style {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
    color: transparent;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;

    li {
        padding: .5rem;
        border-radius: .5rem;
        box-shadow: 0 0.5rem 1rem -0.25rem (rgb(104, 93, 151));
    }
}

@media (min-width: $breakpoint-small) {
    .scroller {
        overflow: hidden;
        -webkit-mask:
            linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);

        &__inner {
            width: max-content;
            padding-block: 1rem;
            flex-direction: row;
            gap: 1rem;
            animation: scroll 30s linear infinite;
     
            &:hover {
                animation-play-state: paused;
            }

            .skill {
                width: 7rem;

                &:hover {
                    transform: scale(1.2);
                    transition: transform .8s ease-in-out;
                }

            }

            @keyframes scroll {
                to {
                    transform: translate(calc(-50% - 0.5rem));
                }
            }
        }
    }
  
}