@use '../../styles' as *;





@media (min-width: $breakpoint-small) {
    .scroller {
        
        width: 100%;
        overflow: hidden;
        -webkit-mask:
            linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);

        border: 1px solid lime;



        &__inner {
            width: max-content;
            padding-block: 1rem;
            display: flex;
            gap: 1rem;
            animation: scroll 20s linear infinite;

            @keyframes scroll {
                to {
                    transform: translate(calc(-50% - 0.5rem));
                }
            }
         
        }

     
    }

    .tag-list {
        margin: 0;
        padding-inline: 0;
        list-style: none;

        li {
            padding: 1rem;
            background-color: $orange-50;
            border-radius: .5rem;
            box-shadow: 0 0.5rem 1rem -0.25rem ($orange-40);
        }
    }
}