@use '../../styles/' as *;


//scroll bar on top of the browser. 
.scroll-watcher {
    height: 7px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

//----------------------------------
.home {
    
    &__background {
        position: relative;
    }
}

.wavy_top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -2px;
}

.wavy_top svg {
    width: calc(130% + 1.3px);
    height: 140px;
}

.wavy_bottom {
    overflow: hidden;
    line-height: 0;
    margin-top: -2px;
}

.wavy_bottom svg {
    width: calc(100% + 1.3px);
    height: 104px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1705754886 .shape-fill {
    fill: $white-100;
}

.section {
    margin: 0 1rem;
    height: fit-content;
}

.section-top {
    padding-top: 3rem;
}

.home-about {
    position: relative;

    .doodle1, .doodle2, .arrow {
        position: absolute;      
    }

    .doodle1, .doodle2  {
        width: 10%;
        
    }

    .arrow {
        width: 40%;
        bottom: 0;
        right: 0;
        transform: scaleX(-1) rotate(350deg);
    }

    .doodle1 {
        bottom: 30%;
        left: 0;
    }

    .doodle2 {
        top: 0;
        right:0;
    }
}

.home-contact {

    position: relative;

    .sprinkle1, .sprinkle2 {
        width: 40%;
        position: absolute;

    }

    .sprinkle1 {
        top: 0;
        right:0;
    }

    .sprinkle2  {
        left: 0;
        bottom: 0;
    }
}


.japanese-text {
    font-family: "Dela Gothic One", sans-serif;
    margin: 0 1rem;
    font-size: 10vw;
    line-height: 100%;
    word-wrap: break-word;
    color: rgba($white-60, 0.1);

}

.text-right {
    text-align: end;
}




@media (min-width: $breakpoint-small) {

    
.section {
    margin: 0 3rem;
}


}

@media (min-width: $breakpoint-medium) {
    .home {
        .wavy_top {
            position: static;
        }
    }

    .section-top {
        padding-top: 4rem;
    }

    
    .section-bottom {
        padding-bottom: 3rem;
 
     }

    .japanese-text {
        font-size: 8vw;

    }

    .text-right {
        position: relative;
        bottom: -5rem;
        line-height: 100%;
    }

    .home-contact {
    
        .sprinkle1, .sprinkle2 {
            width: 20%;
        }
    
    
    }

    .home-about {
    position: relative;

    .doodle1, .doodle2, .arrow {
        position: absolute;
    }

    .doodle1, .doodle2  {
        width: 10%;
    }

    .arrow {
        max-width: 20%;
        bottom: -5%;
        right: 18%;
        transform: scaleX(-1) rotate(350deg);
    }

    .doodle1 {
        bottom: 30%;
        left: 0;
    }

    .doodle2 {
        top: 0;
        right:0;
    }
}

}