@use '../../styles/layout';
@use '../../styles/variables';


@media (min-width: variables.$breakpoint-small) {
    .home-container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
    
    }
}




